<%= turbo_stream_from :thing %>

<section class="section">
  <h1 class="title">Messages</h1>

<div class="box mb-3">
  <%= turbo_frame_tag "message-container" do %>
    <%= render @messages %>
  <% end %>
</div>

  <%= render 'form', message: @message %>
</section>